* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primaryColor: #810081;
  --secondaryColor: #330033;
  --rose: #b142b1;
  --whiteGrey: #f0f0f0;
  --boxShadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}

body {
  background-color: var(--whiteGrey);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-top-left-radius: 10px;
  background-color: var(--secondaryColor);
}

::-webkit-scrollbar-thumb {
  border-top-left-radius: 10px;
  background-color: var(--rose);
}

@media (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}